---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<p>
I am opening a new class on SDN Security in Spring 2026. The course number is CIS 890-E (17847). It requires the instructor's permission to enroll, so please send me an email if you are interested. 
</p>

<p>
<strong>Course syllabus</strong>:
<a href="{{ '/files/SDN_Security.pdf' | relative_url }}">Download PDF</a>
</p>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
