---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<p>
I am offering a new graduate course on SDN Security in Spring 2026. Students are welcome to attend the first few weeks of the course to determine whether it is a good fit.
</p>

The course number is CIS 890-E (17847). Enrollment requires instructor permission, so please email me if you are interested in registering. Please also be sure to <strong>follow departmental policies and deadlines<\strong> regarding course enrollment and related requirements.
<p>
Time: Tuesday & Thursday 11:30AM - 12:45PM
</p>
Location: TBD
<p>
<a href="{{ '/files/SDN_Security.pdf' | relative_url }}">Course syllabus</a>
</p>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
